
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>Stattracker API</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <div class="mainTitle">Stattracker API</div>
      <div class="list">
        <div>{{#activities}}

          <div>{{name}}</div>
          <div>{{_id}}</div>
          <div>{{quantity}}</div>
          <div>{{date}}</div>

          {{/activities}}</div>
      </div>

    </div>
  </body>
  </html>
